.content{
    align-items: center;
    justify-content: center;
}
.logo-box{
    text-align: center;
    color: white;
}
.logo {
    width: 100%;
    max-width: 400px;
    height: auto;
    padding: 8px;
}
.logo-box h1{
    font-size: 2.5rem;
}