*{
    box-sizing: border-box;
}
html, body, .wrapper {
    height: 100%;
}
body{
    background-image: url("../images/casey-horner-1125611-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.wrapper{
    display: flex;
    flex-direction: column;
}
.content {
    flex-grow: 1;

    display: flex;
    align-items: center;
    justify-content: center;
}
.logo-box{
    text-align: center;
    color: white;
}
.logo {
    width: 100%;
    max-width: 400px;
    height: auto;
    margin: 8px;
}
.logo-box h1{
    font-size: 2.5rem;
}