*{
    box-sizing: border-box;
}
html, body, .wrapper {
    height: 100%;
}
body{
    background-image: url("../images/casey-horner-1125611-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Arial, Helvetica, sans-serif;
}
.wrapper{
    display: flex;
    flex-direction: column;
    overflow: scroll;
}
.content {
    flex-grow: 1;
    display: flex;
}

/*NAVIGATION*/
/*#################################################################################################*/
nav{
    flex-grow: 0;
}
.menu-box {
    margin: 0 auto;
    max-width: 600px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
.menu-box a{
    width: 110px;
    text-decoration: none;
    color: #3c3c3c;
    background-color: #ffffffbb;
    padding: 12px 0px;
    border-radius: 4px;
    margin: 4px;
    transition: box-shadow .5s;
}
.menu-box a:hover{
    box-shadow: 0px 0px 15px #ff7300;
}

@media (max-width: 350px){
    .menu-box {
        flex-direction: column;
        padding: 8px;
        text-align: center;
    }
    .menu-box a{
        width: 100%;
    }
}

/*CSS GRID-VIEW */
/*##################################################################################################*/
[class*="col-"] {
    float: left;
    border: 1px solid red;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.row{
    display: block;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 16px;
}


.row:after {
    content: "";
    clear: both;
    display: table;
}