nav{
    flex-grow: 0;
}
.menu-box {
    margin: 0 auto;
    max-width: 600px;
    display: flex;
    justify-content: space-evenly;
}
.menu-box a{
    text-decoration: none;
    color: #3c3c3c;
    background-color: #ffffffbb;
    padding: 12px 16px;
    border-radius: 4px;
    margin: 4px;
}
.menu-box a:hover{
    background: #fff;
    color: #888;
}