.content{
    flex-direction: column;
    align-items: unset;
    justify-content:start;
    overflow: scroll;
}
.row{
    display: block;
    width: 100%;
    max-width: 800px;
}

.img-project{
    width: 100%;
    max-width: 200px;
    height: auto;
    margin: auto;
    cursor: pointer;
}

.portfolio-card h2{
    padding: 4px;
    border-bottom: 1px solid #111111aa;
    margin-bottom: 4px;
}
.portfolio-card-img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.portfolio-card p{
    margin: 4px;
}